* {
  margin: 0;
  padding: 0;
}

/* body {
  width: 100%;
} */

.log4 {
  color: white;
  text-decoration: none;
}

.bb2 {
  padding: 0.5rem;
  background-color: #d74339;
  border: #d74339;
  color: #fff;
  border-radius: 50px;
  height: 30px;
  width: 130px;
  margin-top: 20px;
  /* position: "relative";
    top: 800px; */
}

.bb2:hover {
  background-color: #80160e;
  cursor: pointer;
}

.card {
  background-color: #e8dccc;
  width: 220px;
  height: 350px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 20px !important;
  overflow: hidden;
}

.card img {
  width: 160px;
  height: 160px;
  border: #d74339 7px solid;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  bottom: 20px;
  /* top: 20px; */
}

.text-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
