body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.imageFit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d74339;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animate__animated.animate__bounceInDown {
  animation-iteration-count: infinite;
  --animate-duration: 1250ms;
}

@keyframes loadingAnimation1 {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
    height: 100px;
    width: 100px;
 }
 23.3% {
    opacity: 1;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
 28.3% {
    transform: translateY(-10px);
 }
 33.3% {
    transform: translateY(0);
    height: 100px;
    width: 100px;
 }
 33.4% {
  transform: translateY(-2000px);
  height: 200px;
  width: 200px;
}
56.7% {
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}
61.7% {
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
}
66.6% {
  transform: translateY(-50px);
  height: 200px;
  width: 200px;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}
66.7% {
  transform: translateY(-2000px);
  height: 300px;
  width: 300px;
}
90% {
  transform: translateY(-90px);
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  -o-transform: translateY(-90px);
}
95% {
  transform: translateY(-110px);
  -webkit-transform: translateY(-110px);
  -moz-transform: translateY(-110px);
  -ms-transform: translateY(-110px);
  -o-transform: translateY(-110px);
}
100% {
  transform: translateY(-100px);
  height: 300px;
  width: 300px;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

}



.loading {
  position: absolute;
  height: 100px;
  width: 100px;
  left:50%;
  translate: -50%;
  animation: 3.5s linear 0s infinite normal loadingAnimation1;
  -webkit-animation: 3.5s linear 0s infinite normal loadingAnimation1;
}
